:root {
    --pink: rgb(255, 0, 128);
    --green : rgb(12, 248, 102);
    --black: rgb(0, 0, 0);
    --gold: rgb(212, 175, 55); 
    --purple: rgb(120, 0, 150);
    --blue: rgb(41, 255, 226);
    --orange: rgb(255, 81, 0);
    --red: rgba(255, 0, 0, 0.76);
  }
  title {text-align: center; font-family: Monstera Jam; font-size: 30px; color: var(--red);font-weight: bolder;}
  h1 {text-align: left; font-family: Monstera Jam; font-size: 40px;font-weight: bolder;}
  @font-face {
    font-family: 'Monstera Jam';
    src: url('monstera-jam-font/MonsteraJam-rgZE8.ttf') format('woff2'),
        url('monstera-jam-font/MonsteraJam-rgZE8.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    color: var(--red)
    }
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: var(--red)
    
    }
    h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    }


    .movie-card {
        margin-bottom: 30px;
    }

    .movie-rating {
        font-size: 1.5rem;
        font-weight: bold;
    }
   
    #movie-list {
    max-height: 800px;
    overflow-y: auto;
}

    .movie-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .movie-description {
        font-size: 1rem;
        margin-top: 5px;
    }
    
    .movie-imdb-rating {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 5px;
        color: #eb9e34;
    }

.input-field {
    margin-bottom: 20px;
}